@model IEnumerable<prueba.Models.empresa>

@{
    ViewData["Title"] = "Orientacion";
}
    <link rel="stylesheet" href="/css/estilo.css">
    <body>

    @*Codigo empleos disponibles*@
        <div class="contenido">
            <div class="caja">
                <h2>¿Aplicar en una obra de construcción?</h2>
                <img src="/css/imgJoel/trabajo1.jpg" alt="trabajo1" class="logo-trabajo1">
                <a href="#" class="btn-ghost round">Leer más</a>
            </div>
            <div class="caja">
                <h2>¿Aplicar en enseñanza en linea?</h2>
                <img src="/css/imgJoel/trabajo2.jpg" alt="trabajo2" class="logo-trabajo2">
                <a href="#" class="btn-ghost round">Leer más</a>
            </div>
            <div class="caja">
                <h2>¿Aplicar como programador desde casa?</h2>
                <img src="/css/imgJoel/trabajo3.jpg" alt="trabajo3" class="logo-trabajo3">
                <a href="#" class="btn-ghost round">Leer más</a>
            </div>
        </div>
    @*Codigo de capacitacion*@
        <div class="contenido2">
            <div class="caja2">
                <h1 style="color: white; font-size: 45px;">Capacita a tus empleados.</h1>
                <p>
                <strong>
                    Toda organización exitosa tiene como base sólida su capital humano, 
                    por ello las empresas se esmeran en la selección del mismo.
                    Las empresas que están realmente comprometidas con la calidad 
                    tienden invertir grandes cantidades de dinero en la capacitación, 
                    pues no sólo reconocen sino que, dan por hecho que tales inversiones 
                    agregan valor a las capacidades humanas de la empresa.
                <sttrong />
                </p>
            </div>
        </div>


    @*Mostrar orientación*@
        <div class="contenido3">
            <div class="caja3">
                <h2 style="color: white">¿Cómo organizar tu empresa?</h2>
                <p>
                    <strong>
                    Se entiende por organización el proceso de 
                    ordenar y distribuir el trabajo, la autoridad y 
                    los recursos entre los miembros de un organismo, 
                    de tal manera que estos puedan alcanzar los objetivos 
                    de mejor manera. Por ello, una buena organización 
                    en la empresa es fundamental para conseguir las metas propuestas.<strong />
                </p>
            </div>
            <div class="caja3">
                <h2 style="color: white">¿Cómo elegir tus candidatos?</h2>
                <p>
                    <strong>
                    El proceso de selección no es tan sencillo. 
                    Lo primero que vemos de un candidato es su currículum, 
                    pero hasta no realizar una entrevista cara a cara, 
                    no podemos saber otros aspectos relacionados con aptitudes 
                    y competencias de carácter más subjetivo.<sttrong />
                </p>
            </div>
        </div>

    @*Mostrar Anuncios*@
        <div class="contenido4">
            <div class="caja4">
                <div class="logo">
                <img src="/css/imgJoel/anuncio1.jpg" alt="anuncio1" class="logo-anuncio1">
                </div>
            </div>
            <div class="caja4">
                <div class="logo">
                <img src="/css/imgJoel/anuncio2.jpg" alt="anuncio2" class="logo-anuncio2">
                </div>
            </div>
            <div class="caja4">
                <div class="logo">
                <img src="/css/imgJoel/anuncio3.jpg" alt="anuncio3" class="logo-anuncio3">
                </div>
            </div>
        </div>

    @*Pie de pagina*@
    <div class="pie">

    </div>

</body>
